
%h1 Log In
.row
  #log-in.col-md-2
    .form-horizontal.span5{role: 'form'}
      .form-group
        = form_tag sessions_path do
          .field
            = label_tag :email
            = email_field_tag :email, params[:email]
          .field
            = label_tag :password
            = password_field_tag :password, params[:password]
          %br
          .actions
            =submit_tag "Log in"
